<!doctype html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>
<style>
	.sidebar .nav span{
		font-size: 10px;
	}
</style>
<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top" style="height: 5%">
			<span style="font-size: 2rem;display:inline-block; margin: .5% 0 0 1%">电商小程序使用教程</span>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<div class="container-fluid" style="margin: -20% 0 0 -12%">
					<form class="navbar-form navbar-left">
						<div class="input-group">
							<input type="text" value="" id="select" class="form-control" placeholder="请输入搜索关键词...">
							<span class="input-group-btn"><button type="button" class="btn btn-primary" onclick="select()">Go</button></span>
						</div>
					</form>
				</div>
				<nav>
					<ul class="nav">
						{volist id="data_one" name="data_one"}
						<li>
							<a href="#{$data_one.id}" data-toggle="collapse" class="collapsed" onclick="show('{$data_one.id}')"><span>{$data_one.title}</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="{$data_one.id}" class="collapse ">
							{volist id="data_two" name="data_one.two"}
							{if condition="$data_one.id == $data_two.pid"}
									<ul class="nav">
										<li>
											<a href="#{$data_two.id}" data-toggle="collapse" class="collapsed" onclick="show('{$data_two.id}')"><span>{$data_two.title}</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
											<div id="{$data_two.id}" class="collapse ">
												{volist id="data_three" name="data_one.three"}
												{if condition="$data_two.id == $data_three.pid"}
												<ul class="nav">
													<li>
														<a href="javascript:void(0);" class="collapsed" ><span style="margin-left:20%;" onclick="show('{$data_three.id}')">{$data_three.title}</span></a>
													</li>
												</ul>
												{/if}
												{/volist}
											</div>
										</li>
									</ul>
							{/if}
							{/volist}
							</div>
						</li>
						{/volist}
					</ul>
				</nav>
			</div>
		</div>
		<div class="main">
			<div  id="content">
				{$data_one.content}
			</div>

		</div>
	</div>

	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
<script>
	function show(id) {
		$.ajax({
			url: "{:url('content')}",
			type: "post",
			data: {'id':id},
			dataType: "json",
			success:function (res) {
				$('#content').html(res);
            },
			error:function () {
				console.log('出错啦');
            }
		})
    }
    function select() {
		
    }
</script>

</html>
